form{
    position: fixed;
    top: -999px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #252422ce;
    border-radius: 0 0 8px 8px;
    transition: .4s ease-in;
}

form.show{
    top: 20vh;
}

form div{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

form div label{
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-bottom: .2rem;
}

form div input{
    background-color: unset;
    border: none;
    border-bottom: .1rem solid #ccc5b9;
    width: 32rem;
    transition: .5s ease-in-out;
    color: #fffcf2;
    padding: .5rem;
    outline: none;
}

form div input:hover{
    border-bottom: .1rem solid #6320ee;
}

form div input:focus{
    border-bottom: .1rem solid #6320ee;
}